<div class="jumbotron text-center">
  <h1>Crazy Chess</h1> 
  <p class="lead">Play 'til you go cray-cray </p>
  <p>
		<a class="btn btn-large btn-success" routerLink="/play">Play Game</a>
	</p>
</div>

<div class="container">
  <h1>
    {{ user?.username }}
    <a class="btn btn-sm btn-outline-secondary" [routerLink]="'/login'" role="button">Log out</a>
  </h1>
	<ngb-accordion #acc="ngbAccordion">
		<ngb-panel id="toggle-1" title="Profile">
			<ng-template ngbPanelContent>
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
				aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
				sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
				craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
				occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
				labore sustainable VHS.
			</ng-template>
		</ngb-panel>
		<ngb-panel id="toggle-2" title="Game History">
			<ng-template ngbPanelContent>
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
				aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
				sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
				craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
				occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
				labore sustainable VHS.
			</ng-template>
		</ngb-panel>
	</ngb-accordion>

	<hr/>

  <p class="text-muted font-weight-light">| CS572 | Professor: Rakesh Shrestha | Team: Kevin Kent Levi, Peter James Bernante|</p>
</div>
