<div class="chessboard">
    <div *ngFor="let square of board; let i=index">
    
        <div (click)="selectPiece(i)">
            <div *ngIf="isPossibleMovement(i)" class = "green" (click)="moveSelectedPieceTo(i)">
                {{getPieceCode(i)}}
            </div>
            <div *ngIf="isWhiteSquare(i) && !isPossibleMovement(i)" class = "black">
                {{getPieceCode(i)}}
            </div>
            <div *ngIf="!isWhiteSquare(i) && !isPossibleMovement(i)" class = "white">
                {{getPieceCode(i)}}
            </div>
        </div>
    </div>
</div>